CompileFlags:
  Add: [-std=c++20, -Wall, -Wextra]
  CompilationDatabase: build/

Diagnostics:
  ClangTidy:
    Add: [

      performance-*,
    ]
    Remove: [
      modernize-use-trailing-return-type
    ]
