CompileFlags:
  Add: [-std=c++20 -Wno-vla-cxx-extension]
  CompilationDatabase: build/

Diagnostics:
  ClangTidy:
    Add: [

      performance-*,
    ]
    Remove: [
      modernize-use-trailing-return-type
    ]
