AlwaysBreakAfterReturnType: All
BasedOnStyle: Microsoft
UseTab: Always
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
SpaceAfterCStyleCast: false
SortIncludes: false
